* {
  box-sizing: border-box;
}

.ssf-vue-navbar {
  /*position: fixed;
  top: 0;
  left: 0;
  bottom: 0;*/
  height: 60px;
  width: 100%;
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -ms-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
  background-color: #EDDBCD;
  font-family: "Poppins", sans-serif;
  z-index: 1050;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  width: 100% !important;
}

.ssf-vue-navbar.ssf-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.ssf-vue-navbar.open {
  width: 250px;
}

.ssf-vue-navbar .ssf-vue-navbar-list > ul,
.ssf-vue-navbar .ssf-vue-navbar-list > ul li.ssf-vue-navbar-item,
.ssf-vue-navbar .ssf-vue-navbar-list > ul li.ssf-vue-navbar-item .ssf-vue-navbar-link {
  /*height: 100%;*/
}

/*.ssf-vue-navbar .ssf-vue-navbar-brand,*/
.ssf-vue-navbar .ssf-vue-navbar-list {
  display: flex;
  flex-basis: auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.ssf-vue-navbar .ssf-vue-navbar-brand,
.ssf-vue-navbar .ssf-vue-navbar-list > ul li.ssf-vue-navbar-item .ssf-vue-navbar-link {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.ssf-vue-navbar .ssf-vue-navbar-list .ssf-vue-navbar-item {
  position: relative;
  display: inline-block;
}

.ssf-vue-navbar .ssf-vue-navbar-list .ssf-vue-navbar-item .ssf-vue-navbar-link {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: inherit;
  cursor: pointer;
}

.ssf-vue-navbar .ssf-vue-navbar-list .ssf-vue-navbar-item.active-item .ssf-vue-navbar-link:not(.ssf-vue-dropdown-item),
.ssf-vue-navbar .ssf-vue-navbar-link.ssf-vue-navbar-dropdown .ssf-vue-dropdown-menu .ssf-vue-navbar-link.ssf-vue-dropdown-item.active-item {
  -webkit-box-shadow: inset 0 -3px 0 0 #212529;
  box-shadow: inset 0 -3px 0 0 #212529;
}

.ssf-vue-navbar .ssf-vue-navbar-list .ssf-vue-navbar-item.active-item .ssf-vue-navbar-link:not(.ssf-vue-dropdown-item),
.ssf-vue-navbar .ssf-vue-navbar-link.ssf-vue-navbar-dropdown .ssf-vue-dropdown-menu .ssf-vue-navbar-link.ssf-vue-dropdown-item.active-item {
  background-color: #212529;
  color: #fff;
}

.ssf-vue-navbar .ssf-vue-navbar-list .ssf-vue-navbar-item:hover .ssf-vue-navbar-link:not(.ssf-vue-dropdown-item) {
  background-color: #fff;
}

.ssf-vue-navbar .ssf-vue-navbar-list .ssf-vue-navbar-item.active-item:hover .ssf-vue-navbar-link:not(.ssf-vue-dropdown-item) {
  color: #000;
}

.ssf-vue-navbar .ssf-vue-navbar-list .ssf-vue-navbar-item .ssf-vue-navbar-link.ssf-vue-dropdown-item:hover {
  background-color: #000;
  color: #EDDBCD;
}

.ssf-vue-navbar .ssf-vue-navbar-icon {
  width: 30px;
  text-align: center;
}

.ssf-vue-navbar .ssf-vue-navbar-toggle {
  /*display: inline-block;*/
  /*height: 30px;*/
  /*width: 50px;*/
  /*text-align: center;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*margin: 10px auto 30px auto;*/
}

.ssf-vue-navbar .ssf-vue-navbar-link.ssf-vue-navbar-dropdown {
  position: relative;
}

.ssf-vue-navbar .ssf-vue-navbar-link.ssf-vue-navbar-dropdown .ssf-vue-dropdown-icon {
  /*position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 20px;
  margin: auto;*/
}

.ssf-vue-navbar .ssf-vue-navbar-link.ssf-vue-navbar-dropdown .ssf-vue-dropdown-menu {
  position: absolute;
  top: 100%;
  /*left: 0;*/
  right: 0;
  /*width: 100%;*/
  min-width: 200px;
  background: #fff;
  -webkit-transition: height .3s;
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
  z-index: 1;
}

.ssf-vue-navbar .ssf-vue-navbar-link.ssf-vue-navbar-dropdown .ssf-vue-dropdown-menu:not(.open) {
  height: 0 !important;
}

.ssf-vue-navbar .mr-2 {
  margin-right: 8px;
}

.ssf-vue-navbar .mb-0 {
  margin-bottom: 0;
}

.ssf-vue-navbar .ml-auto {
  margin-left: auto;
}

.ssf-vue-navbar .pl-0 {
  padding-left: 0;
}

.ssf-vue-dropdown-menu ul li,
.ssf-vue-dropdown-menu ul li a {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  width: 100% !important;
}

.ssf-vue-navbar .ssf-vue-navbar-link.ssf-vue-navbar-dropdown .ssf-vue-dropdown-menu ul {
  display: none;
}

.ssf-vue-navbar .ssf-vue-navbar-link.ssf-vue-navbar-dropdown .ssf-vue-dropdown-menu.open ul {
  display: block;
}

.ssf-vue-navbar .ssf-w-15 {
  position: relative;
  min-height: 1px;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}

.ssf-vue-navbar .ssf-w-85 {
  position: relative;
  min-height: 1px;
  -ms-flex: 0 0 85%;
  flex: 0 0 85%;
  max-width: 85%;
}

.ssf-vue-navbar .fa-1x5 {
  font-size: 1.5em;
}

.ssf-vue-navbar .cursor-pointer {
  cursor: pointer;
}

.ssf-vue-navbar .text-right {
  text-align: right !important;
}
